/*
 * Globais
 */
body {
  padding-bottom: 0px;
} 
.corpo-app-01 {
	background: #eee url(../app-imagens/b01.jpg) no-repeat center fixed;
}
.corpo-app-02 {
	background: #eee url(../app-imagens/b02.jpg) no-repeat top fixed;
}

.carousel .item {
  background-color: transparent;
}
.item-app {
  background: transparent url(../app-imagens/main.png);
  background-color: transparent;
}
.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
}
.corpo-com-footer {
	padding-bottom: 70px;
	height: auto;
	/*background-color: #eee;*/
}
.corpo-index {
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  position: fixed;
  bottom: 2px;
  top: 2px;
  left: 2px;
  right: 2px;
  overflow: auto;
}
.sub-header {
  border-bottom: 1px solid #ddd;
}
.div-load {
	position: fixed;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background-color: white;
	border:1px solid black;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index: 9900;
}
.div-load-msg {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	font-weight: bold;
	opacity:0.9;
	filter:alpha(opacity=90);
	z-index: 9990;
}
.sem-margem {
	margin-left: auto;
	margin-right: auto;
}
.margem-msg-load {
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 40px;
}
.img-loading {
	float: left;
	height: 30px;
	width: 30px;
}
.btn-sub-lista {
	margin-bottom: 5px;
}
.carousel {
	height: 350px;
}
.carousel .item {
	height: 350px;
}


.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.el-nova-linha {
	height: 6px;
}
 
 
 
 
 
 

/* Links 
a,
a:focus,
a:hover {
  color: #fff;
}*/

/* Custom default button
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: 1px solid #fff;
} */


/*
 * Base structure
 */

html,
body {
  /*height: 100%;*/
  /*background-color: #333;*/
}
body {
  /*color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
